<h1><%= @titulo %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.nombre %></td>
        <td>
          <%= link_to_edit(admin_service_path(service)) %>
          <%= link_to_delete(admin_service_path(service)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>