<div class="page-header">
  <h1><%= @service.nombre %></h1>
</div>
<div class= "well">
  <dl class="dl-horizontal">
    <dt><strong>Nombre:</strong></dt>
    <dd><%= @service.nombre %></dd>
  </dl>
</div>