<h1>Tipos de Inmuebles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td>
          <%= link_to_edit(admin_type_path(type)) %>
          <%= link_to_delete(admin_type_path(type)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

