<ul class="nav nav-tabs">
	<li class="active"><%= link_to_index_tab("types")%></li>
	<li><%= link_to_new_tab("types")%></li>
</ul>
<div id="content" class="tab-pane active">
	<%= render(:file => 'admin/types/index') %>
</div>