<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">Sistema de administración IPASA</a>
			<%= render 'layouts/admin/userinfo'%>
		</div>
	</div>
</div>