<section id="busqueda" class="section">			     	   			     	    
	<article id="div_busqueda">
		<p class="busca">Para realizar una busqueda ingrese una palabra clave,por ejemplo: Cancún, Residencial Milenio o 15000</p>
		 <a class="btn btn-primary btnbusqueda" href="#renta_logo">Ir al resultado de la busqueda</a>
		 </article>
	
	<article id="publicidad_busqueda"> </article>				      					     					   
</section>
