<section id="inicio" class="section">				    
    <article id="filtro">
    </article>
    <article id="slideshow">
        <%= render "slideshow" %>
    </article>
    <article id="clima">
        <div id="TT_RiJgLBYhYEhFAFrAjfzjzDzDDWnALdClrYEY1cy5akzIGo3IG">
            <strong><a href="http://www.tutiempo.net">Meteorología</a></strong>
            <a href="http://www.tutiempo.net/tiempo/Cancun_International_Airport/MMUN.htm">
                El tiempo en Cancun International Airport
            </a>
        </div>
    <script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_RiJgLBYhYEhFAFrAjfzjzDzDDWnALdClrYEY1cy5akzIGo3IG"></script>
    </article>
    <a href="http://www.hotelcozumel.com.mx">
        <article id="publi"></article>
    </a>
    <a href="http://www.promovision.mx">
        <article id="publi2"></article>
    </a>
</section >					