<section id="mapa" class="section">			     	   				     
    <article id="div_mapa">
	    <iframe id="iframe_mapa" width="800" height="600" src="http://maps.google.com.mx/maps/ms?msa=0&amp;msid=215524932489196424143.0004be5b4742b0c5c85f0&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;ll=20.169411,-88.527832&amp;spn=3.09346,4.389038&amp;z=8&amp;output=embed"></iframe>
    </article>				  
</section>