<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("imagenes-slide/hacienda1.jpg") %>
      <div class="carousel-caption">
        <h4>Picture 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium felis vitae nisl elementum eget convallis turpis egestas. Curabitur nec.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("imagenes-slide/slide1.jpg") %>
      <div class="carousel-caption">
        <h4>Picture 2</h4>
        <p>Vivamus lacus nunc, interdum sed egestas sed, tristique eu lorem. Pellentesque ut bibendum velit. Morbi ultricies consectetur quam, eu condimentum.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("imagenes-slide/slide2.jpg") %>
      <div class="carousel-caption">
        <h4>Picture 3</h4>
        <p>Maecenas feugiat, nunc eget tristique consequat, mi lorem ultricies lectus, nec tempor dui enim sed sapien. Praesent vel eros vel.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>