
<section id="quienes_somos" class="section"><br/>					 
   <article>
	   <h1>Quiénes somos</h1>
	   <p>
			IPASA es una empresa mexicana con 30 años de experiencia en el sector
			inmobiliario, dedicada a la promoción, desarrollo y administración
			de edificios de departamentos, conjuntos residenciales, locales
			comerciales, casas, espacios para negocios y oficinas en renta,
			diseñados con el fin de asegurar una excelente convivencia, seguridad y
			confort de nuestros inquilinos.
	    </p>
		<h1>Misión</h1>
		<p>
			Brindarle al cliente el mejor servicio y calidad en la renta de nuestros
			inmuebles con total entrega y transparencia, donde su satisfacción sea
			nuestra preocupación.
		</p>
		<h1>Visión</h1>
		<p>
			Apuntamos a ser líderes en eficiencia y servicio, basándonos siempre en
			un pensamiento global de la empresa, el servicio y nuestros clientes, por
			lo que somos una empresa en permanente expansión.
		</p>
		<h1>Filosofía</h1>
		<p>
			El compromiso de la empresa es lograr la excelencia en cada uno de los
			servicios que brindamos, donde el cliente es nuestro principal trabajo.
		</p>	     	         
   	</article>
    <%= image_tag("fondos_pagina/foto1.png") %>
    <%= image_tag("fondos_pagina/foto2.png") %>
    <%= image_tag("fondos_pagina/foto3.png") %>
</section>

