/* mixins, variables, etc. */

@import "bootswatch/cerulean/variables";
@import "bootstrap";


$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.sidebar-nav {
  padding: 9px 0;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

p.description
{
width:25em; 
word-wrap:break-word;
}

@import "bootswatch/cerulean/bootswatch"
