@mixin box-shadow($args) {
	-moz-box-shadow:	$args;
    -webkit-box-shadow: $args;
    box-shadow:			$args;
}

@mixin border-radius($radio) {
	-moz-border-radius: $radio;
    -webkit-border-radius: $radio; 
    border-radius: $radio;
}
@mixin scale($size){
	-webkit-transform:	scale($size);
 	-moz-transform: 	scale($size);
	-ms-transform:		scale($size);
	transform:			scale($size);
}

.header {
	margin-left:-10px;
	width:100%;
	height:150px;
}

.btn-mini {
margin-top:10px;
}
.section {
    width:100%;
	height:700px;
}

.center {
	text-align:center;
}

@font-face {
  font-family: "mifuente-normal";
  src: font-url('/fonts/avant_garde_bk_bt-webfont.eot');
  src: local("AvantGardeBkBTBook"),
  		font-url('/fonts/avant_garde_bk_bt-webfont.eot?#iefix') format("embedded-opentype"),
  		font-url('/fonts/avant_garde_bk_bt-webfont.woff') format("woff"),
  		font-url('/fonts/avant_garde_bk_bt-webfont.ttf') format("truetype"),
  		font-url('/fonts/avant_garde_bk_bt-webfont.svg#AvantGardeCEBold') format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "mifuente-bold";
  src: font-url('/fonts/avantgarde-ce-webfont.eot');
  src: local("AvantGardeCEBold"),
  		font-url('/fonts/avantgarde-ce-webfont.eot?#iefix') format("embedded-opentype"),
  		font-url('/fonts/avantgarde-ce-webfont.woff') format("woff"),
  		font-url('/fonts/avantgarde-ce-webfont.ttf') format("truetype"),
  		font-url('/fonts/avantgarde-ce-webfont.svg#AvantGardeCEBold') format("svg");
  font-weight: 900;
  font-style: normal;
}

.frontend {
  padding-top: 0px;
  background-image: url('fondos_pagina/textura_fondo.jpg');
  background-attachment: inherit;
}


/* ------------------------------------CONTENIDO DE TODO ----------------------------------------------*/

#body-wrap {
	background-repeat: repeat-y;
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	background: url("fondos_pagina/azul_ipasa.jpg");
	@include box-shadow((0px 0px 10px black));
}

#top {
	width: 100%;
	height: 40px;
	margin: 0 auto;
}

#Fondo {
	width: 1024px;
	height: 6000px;
	z-index: -10;
	background-image: url(fondos_pagina/FONDO-PX.png);
	margin: 0 auto;
}

/* -------------------------------------HEADER_INICIO------------------------------------------*/

#logo {
	margin-top:-15px; 
	background-image: url(fondos_pagina/header-principal-con-logo.png);
	padding-top:15px;
}

#banner_inicio {
	background-image: url(fondos_pagina/bannerhc.jpg);
	margin-left:270px;
	width:609px;
	height:119px;	
}

/* ------------------------------------------SECCION INICIO ----------------------------------------*/

#filtro {
	position:relative;
	left:60px;
	z-index: 9;
	background: url("fondos_pagina/fondo.png");
	width:200px;
	height:350px;
	@include box-shadow((0px 0px 3px black));
	margin-top:25px;
}

#slideshow {     
	position:relative;
	left:260px;   
	bottom:350px;
	width:590px;
	height:350px;
	margin-bottom:35px;				
}

#clima {
	position:relative;
	left:50px;
	bottom:350px;
	width:500px;
	height:100px;
}

#publi {
	background-image: url(fondos_pagina/hotel.png);
	position:relative;
	left:550px;
	bottom:450px;
	width:125px;
	height:120px;
}

#publi2 {
	background-image: url(fondos_pagina/promo.png);
	position:relative;
	left:680px;
	bottom:580px;
	width:165px;
	height:125px;
}

#myCarousel{
	@include box-shadow((0px 0px 3px black));
}

.carousel .item {
	img{
		width:100%;
		height:350px;
	}
}
/* ------------------------------------------HEADER QUIENES SOMOS ----------------------------------------*/

#quienes_somos_logo {
	background-image: url(fondos_pagina/header-quienes-somos.png);
}

/* ------------------------------------------SECCION QUIENES SOMOS ----------------------------------------*/

#quienes_somos {	
	article {
	    position:relative;
		width:90%;
		left:50px;
		bottom:20px;
	}
	h1 {
		font-size:20px;
		text-align:left;
		line-height:1em;
		color:white;
	    font-family:"mifuente-bold";
	    text-shadow:0 2px 3px black;
	}
	p {
		font-size:1.1em;
		text-align:justify;
		text-indent:10px;
		line-height: 1.3em;
		color:white;
	    font-family:"mifuente-normal";
	    // word-spacing: 10px;
	    letter-spacing: 1px;
	    text-shadow:0 1px 2px black;
	}
	img {
		position:relative;
		left:100px;
		margin-left:20px;
		@include box-shadow((5px 5px 15px #111));
	}
}

/* ------------------------------------------HEADER EN RENTA ----------------------------------------*/

#renta_logo {
	background-image: url(fondos_pagina/header-disponibles.png);		
}
			
/* ------------------------------------------SECCION EN RENTA ----------------------------------------*/

#renta {
}

#propiedad {   
	width:900px;
	height:700px;	
}

/* ------------------------------------------HEADER MAPA ----------------------------------------*/
		
#mapa_logo
{
	background-image: url(fondos_pagina/header-mapa.png);
}
	
/* ------------------------------------------SECCION MAPA ----------------------------------------*/

#mapa {  
}

#div_mapa {
	width:800px;
	height:600px;
	margin:0px auto;
	position:relative;
	top:10px;
	@include border-radius(10px); 
}

/* ------------------------------------------HEADER BUSQUEDA ----------------------------------------*/
	
#busqueda_logo {
	background-image: url(fondos_pagina/header-busqueda.png);
}
			

/* ------------------------------------------SECCION BUSQUEDA ----------------------------------------*/

#busqueda {     
}

#div_busqueda {
	background: url("fondos_pagina/fondo.png");
	background-repeat: repeat;
	width: 450px;
    height: 300px;
    top:10px;
    left:25px;
    position: relative;
    @include border-radius(10px); 
}
#publicidad_busqueda {
	position: relative;
	background: url("fondos_pagina/publicidad_busqueda.png");
	left:550px;
	bottom:290px;
	width: 300px;
    height: 300px;
}

/* ------------------------------------------HEADER VIDEOS ----------------------------------------*/
	
#videos_logo {
	background-image: url(fondos_pagina/header-videos.png);	
}
			
/* ------------------------------------------SECCION VIDEOS ----------------------------------------*/

#videos {           
}

#div_propiedad {
	background: url("fondos_pagina/fondo.png");
	background-repeat: repeat;
	width: 800px;
    height: 600px;
    position:relative;
    top:10px;
    margin:0px auto;
    @include border-radius(10px); 
}


/* ------------------------------------------HEADER REGISTRO ----------------------------------------*/

#registro_logo {
	background-image: url(fondos_pagina/header-registro.png);
}

/* ------------------------------------------SECCION REGISTRO----------------------------------------------*/

#registro {      
}


#div_registro {
	background: url("fondos_pagina/fondoregistro.png");
	background-repeat: repeat-x;
	width: 390px;
    height: 220px;
    position:relative;
    top:10px;
    margin: 0px auto;
    @include border-radius(10px);    
}

/* ------------------------------------------HEADER LOGIN ----------------------------------------*/

#login_logo {
	background-image: url(fondos_pagina/header-log-in.png);	
}		

/* ------------------------------------------SECCION LOGIN----------------------------------------*/

#login {      
}

#div_login {
	background: url("fondos_pagina/fondoregistro.png");
	background-repeat: repeat-x;
	width: 390px;
    height: 220px;
    position:relative;
    top:10px;
    margin:0 auto;
    @include border-radius(10px); 
}

/* ------------------------------------------HEADER CONTACTO ----------------------------------------*/
		
#contacto_logo {
	background-image: url(fondos_pagina/header-contacto.png);	
}

/* ------------------------------------------SECCION CONTACTO ----------------------------------------*/
#div_contacto {
    margin:0 auto;   
	width: 440px;
    height: 320px;
	#new_message{
		background-image: url(fondos_pagina/fondo-seccion-contacto.png);
		position:relative;
		@include border-radius(10px);
		padding:20px 0px;
		label{
			color:white;
		}
		button.btn, input[type="submit"].btn{
			margin-left:190px;
		}
	}
}

#imagen_foot {
	margin:0 auto;   
	width: 900px;
	height: 200px;
	background-image: url(fondos_pagina/iconos-contacto.png);
	border:0px;
}

.Detalles {
	margin-left:10px;
}

.Box {
	background-image:url(fondos_pagina/fondo-disponibles.png);
	@include box-shadow((0px 0px 5px black));
	color:white;
	float:left;
	height :200px;
	margin-left:150px;
	margin-top:10px; 
	width:600px; 
}

.Foto {
	@include box-shadow((0px 0px 5px black));
	float:left;
	height:75px;
	margin-bottom:10px;
	margin-left:20px;
	margin-top:10px;
	width:75px;
}

.MiniImagen {
	height: 80px; 
	width: 75px;	text-align:center;
	text-align:center;
	margin-left:11px;
	box-shadow:0 0 30px black;
}

.ContenedorImagenes {
	width:550px;
	margin-left:25px;
	margin-right:25px;
}

#tip7-title { text-align: left; }

#tip7-title b { display: block; margin-right: 80px; }

#tip7-title span { float: right; }

.fancybox-opened {
    z-index: 10000;
}
.modal-backdrop {z-index: 0;}
