// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginas {
    top:30px;
    height: 30px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 350px;
    text-align:center;
}

.paginas a {
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
  color: #bbb;
}

.paginas a:hover {
  background-color: #222;
  color: #fff;
}

.paginas a.jp-previous { margin-right: 15px; }
.paginas a.jp-next { margin-left: 15px; }

.paginas a.jp-current, a.jp-current:hover { 
  color: #FF4242;
  font-weight: bold;
}

.paginas a.jp-disabled, a.jp-disabled:hover {
  color: #333;
}

.paginas a.jp-current, a.jp-current:hover,
.paginas a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

.paginas span { margin: 0 5px; }


///////////////////////////////////////////////////////////////////////
.pag {
    top:100px;
    height: 30px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 350px;
    text-align:center;
}

.pag a {
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
  color: #bbb;
}

.pag a:hover {
  background-color: #222;
  color: #fff;
}

.pag a.jp-previous { margin-right: 15px; }
.pag a.jp-next { margin-left: 15px; }

.pag a.jp-current, a.jp-current:hover { 
  color: #FF4242;
  font-weight: bold;
}

.pag a.jp-disabled, a.jp-disabled:hover {
  color: #333;
}

.pag a.jp-current, a.jp-current:hover,
.pag a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

.pag span { margin: 0 5px; }




