// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagina {
    top:30px;
    height: 30px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width: 350px;
    text-align:center;
}

.pagina a {
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
  color: #bbb;
}

.pagina a:hover {
  background-color: #222;
  color: #fff;
}

.pagina a.jp-previous { margin-right: 15px; }
.pagina a.jp-next { margin-left: 15px; }

.pagina a.jp-current, a.jp-current:hover { 
  color: #FF4242;
  font-weight: bold;
}

.pagina a.jp-disabled, a.jp-disabled:hover {
  color: #333;
}

.pagina a.jp-current, a.jp-current:hover,
.pagina a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

.pagina span { margin: 0 5px; }