<ul class="nav nav-tabs">
	<li class="active"><%= link_to_index_tab("properties")%></li>
	<li><%= link_to_new_tab("properties")%></li>
</ul>
<div id="content" class="tab-pane active"> 
	<%= render(:file => 'admin/properties/index') %>
</div>