<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Lista", admin_properties_path(:format => :js) , :remote => true , 'data-toggle' => 'tab' %></li>
  <li><%= link_to "Nueva  Propiedad", {:controller => "properties", :action => "new" , :format => :js}, :remote => true , 'data-toggle' => 'tab'%></li>
</ul>
<div id="content" class="tab-pane active"> 
 	<%= render(:file => 'admin/properties/index') %>
</div>