<h1><%= @titulo %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
  <% @localities.each do |locality| %>
    <tr>
      <td><%= locality.name %></td>
      <td>
        <%= link_to_edit(admin_locality_path(locality)) %>
        <%= link_to_delete(admin_locality_path(locality)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
