<div class="modal hide fade span12" id="modal-window">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>IPASA</h3>
  </div>
  <div class="modal-body"></div>
</div>