<div id="nav">
	<ul class="menu">
	<li><a href="#top">INICIO</a></li>
	<li><a href="#quienes_somos_logo"> QUIÉNES SOMOS</a></li>
	<li><a href="#renta_logo">EN RENTA</a></li>
	<li><a href="#mapa_logo">MAPA</a></li>
	<li><a href="#busqueda_logo">BÚSQUEDA</a></li>
	<li><a href="#videos_logo">VIDEOS</a></li>
	<li><a href="#contacto_logo">CONTACTO</a></li>
	</ul>
</div>
